body {
  background: #f5f5f5;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border-color: #ffbd27;
  outline: 0;
}

.center {
  text-align: center;
}

button,
button:focus {
  background: #ffbd27 !important;
  border: #ffbd27 !important;
}

.btn-secondary {
  background: #282828 !important;
  border: #282828 !important;
}

.btn-muted {
  background: transparent !important;
  border: 1px solid #282828 !important;
  font-size: 10px !important;
  color: #282828 !important;
}

.btn-danger {
  background:red !important;
  border: red !important;
}

.new-button {
  position: absolute;
  margin-left: 5px;
  margin-top: -3px;
}

.container {
  width: 85%;
  margin: auto;
}

.top-10 {
  margin-top: 10px;
}
.top-15 {
  margin-top: 15px;
}
.top-20 {
  margin-top: 20px;
}
.top-25 {
  margin-top: 25px;
}
.top-30 {
  margin-top: 30px;
}
.top-35 {
  margin-top: 35px;
}
.top-40 {
  margin-top: 40px;
}
.top-50 {
  margin-top: 50px;
}
.top-60 {
  margin-top: 60px;
}
.top-70 {
  margin-top: 70px;
}
.top-100 {
  margin-top: 100px;
}

.bottom-10 {
  margin-bottom: 10px;
}
.bottom-15 {
  margin-bottom: 15px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.bottom-25 {
  margin-bottom: 25px;
}
.bottom-30 {
  margin-bottom: 30px;
}
.bottom-35 {
  margin-bottom: 35px;
}
.bottom-40 {
  margin-bottom: 40px;
}

.right-5 {
  margin-right: 5px;
}
.left-5 {
  margin-left: 5px;
}

.screen-center {
  width: 65%;
  margin: auto;
  margin-top: 65%;
}

.not-button,
.not-button:active,
.not-button:focus {
  background: none !important;
  border: none !important;
  color: #282828 !important;
  text-transform: none !important;
  text-decoration: underline;
  text-decoration-color: #ffbd27;
}

.btn-left {
  margin: 0 !important;
  padding-left: 0 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.no-underline,
.no-underline:active,
.no-underline:focus {
  text-decoration: none !important;
}

.invisible {
  color: #f5f5f5;
  font-size: 3px;
}

.Toastify__close-button,
.Toastify__close-button:focus,
.Toastify__close-button:active {
  background: transparent !important;
}

.clear-nav {
  margin-top: 5.2rem;
}

.clear-bottom {
  margin-bottom: 45px;
}

.navigation {
  border-bottom: 0.1rem solid #d1d1d1;
  background: #f5f5f5;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation section {
  max-width: 90%;
  margin: auto;
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}

.navigation .navigation-list {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 0;
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}

.navigation-item {
  list-style: none;
}

.brand-logo {
  max-height: 50px;
  padding: 8px;
}

.menu-drop ul {
  position: fixed;
  right: 3px;
  margin-top: -7px;
  list-style: none;
  background: #f5f5f5;
  color: #282828;
  border: #eee 1px solid;
  border-radius: 3px;
  padding: 12px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1;
}

.lang ul {
  width: 300px;
  margin-top: -15px;
}

.doc-actions-drop {
  display: block;
  position: absolute;
  z-index: 1;
}

.doc-actions-drop ul {
  margin-top: -10px;
  margin-left: -25px;
  list-style: none;
  background: #f5f5f5;
  color: #282828;
  border: #eee 1px solid;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.lang-selector {
  width: auto;
  margin-right: -50px;
  margin-top: -12px;
}

.top-right-fixed {
  position: fixed;
  top: 0;
  right: 10px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 10px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.divider {
  border-top: 0.5px #d1d1d1 solid;
  padding: 0;
}

.card {
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.card-medium {
  width: 95%;
  margin: auto;
  margin: 5px;
}

.tags {
  display: block;
  list-style-type: none;
}

.single-tag {
  float: left;
  list-style: none;
  font-size: 10px;
  background: #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  height: 20px;
  width: 70px;
  margin-right: 3px;
}

.single-tag button {
  position: relative;
  top: -26px;
  right: -20px;
  display: block;
}

.add-tag {
  position: relative;
  top: -10px;
  left: 10px;
  padding: 0;
}

.doc-actions {
  float: right;
  clear: both;
}

.doc-actions button {
  margin-right: -25px;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25), 1px 1px 3px rgba(0, 0, 0, 0.1);
  max-height: 85%;
  max-width: 95%;
  min-width: 85%;
  scroll-behavior: auto;
  overflow: scroll;
}

.dimmer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #282828;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 1;
}

.tox-toolbar__group button {
  background: none!important;
}

.tox-button.tox-button--icon.tox-button--naked, .tox-mbtn.tox-mbtn--select {
  background: none!important;
}

.tox-dialog__footer-end .tox-button {
  background: #282828 !important;
  border: #282828 !important;
}


.tox-statusbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.codox-styles .codox-container {
  
}

.codox-styles {
  position: absolute;
  left: 100px;
  top: 5px;
  background: transparent;
  width: 50vw!important;
  z-index: 3;
}

.doc-title {
  margin-bottom: -14px;
  background-color: #fff;
}

.doc-title input {
  width: 200px;
  margin-left: 5px;
  margin-top: 1px;
  margin-right: 5px;
  border: none;
  max-width: 25%;
}

.doc-title input:focus, .doc-title input:active {
  border: 1px solid #ffbd27;
}

.doc-title button {
  margin-left: 15px!important;
  margin-right: 5px!important;
  color: #282828;
  font-size: 16px;
}

.doc-title input {
  font-size: 16px!important;
}

.tox-statusbar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.tox-statusbar__text-container button {
  background: none !important;
  border: none !important;
  color: #282828 !important;
  text-transform: none !important;
}

.tox-button.tox-button--secondary {
  color: #282828!important;
  background: none !important;
  border: #282828 1px solid !important;
}

.tox .tox-button[title='Save'] {
  background: #ffbd27 !important;
  border: #ffbd27 !important;
  color: #fff!important
}

.doc-title {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.tox-editor-container {
  margin-top: 50px!important;
}

.avatar-section {
  text-align: center;
}

.avatar-section img {
  max-width: 65%;
  margin: auto;
  border-radius: 50%;
}

.profile-info {
  display: inline-block;
  font-size: 16px!important;
}

.profile-info input {
  width: 60%;
  margin-left: 10px;
}

.profile-info button i {
  position: relative;
  top: -2px;
  right: -3px;
}

.muted {
  font-size: 12px;
}

.active-select-container {
  float: right;
}

.active-select-container i {
  padding: 8px;
  border-radius: 50%;
  background: #ffbd27;
  color: white;
}

.wrap {
  word-wrap: break-word;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

td:first-child, th:first-child {
  padding: .625em;
}

.hover span {
  display: none;
  position: absolute;
  background: #282828;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  right: 0;
}

.hover:hover span {
  display: block;
}

.pending {
  font-size: 12px;
}

.pending i {
  margin-left: 5px;
  cursor: pointer;
}

.grid {
  display: grid!important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))!important;
  grid-gap: 1rem!important;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 400px) {
  .screen-center {
    width: 300px;
    margin: auto;
    margin-top: 15%;
  }

  .modal {
    padding: 35px;
    min-width: 75%;   
  }
}

@media only screen and (min-width: 700px) {
  .screen-center {
    width: 300px;
    margin: auto;
    margin-top: 15%;
  }

  .doc-title input {
    max-width: 35%;
  }

  .modal {
    min-width: 70%;
  }

  .card-medium {
    width: 85%;
    margin: auto;
    margin: 5px;
  }

  .tox-edit-area {
    max-width: 75%!important;
    margin-left: 12.5%!important;
  }

  .tiny-editor-body {
    padding-left: 105px!important; 
    padding-right: 105px!important;
  }

  .codox-styles {
    left: 250px;
    top: 5px;
  }

  .avatar-section img {
    max-width: 25%;    
  }

  .profile-info {
    max-width: 35%;
    margin: auto;
    font-size: 20px!important;
  }
}
