/* Universal */

/* Custom Grid */

.col-25-left {
  width: 24%;
  margin: auto;
  float: left;
  padding: 1%;
}

.col-33-left {
  width: 32%;
  margin: auto;
  float: left;
  padding: 1%;
}

.col-33-right {
  width: 32%;
  margin: auto;
  float: right;
  padding: 1%;
}

.col-75-right {
  width: 75%;
  margin: auto;
  float: right;
  padding: 1%;
}

.editor ul li, .editor ol li {
  font-size: 16px;
  margin-top: 5px;
}

.contain {
  max-width: 85%;
  margin: auto;
}

.link-button {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  text-decoration: none!important;
  cursor: pointer;
  font-weight: 400!important;
}

.title-span {
  width: 10%;
  background: #ABACAD;
  border-radius: 25px;
  height: 15px;
  float: left;
  padding-right: 15px;
}

.h1-skel {
  width: 86%;
  height: 35px;
  background: #d8d8d8;
  margin-bottom: 20px;
  border-radius: 5px;
}

.p-skel {
  width: 100%;
  height: 20px;
  background: #d8d8d8;
  border-radius: 5px;
}

.p-skel-short {
  width: 50%;
  height: 20px;
  background: #d8d8d8;
  border-radius: 5px;
}

.title-skel-div {
  width: 100px;
  height: 30px;
  background: #fff;
  border-radius: 5px;
}

.title-skel {
  max-width: 45%;
  margin: auto;
  height: 40px;
  background: #282828;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 85px;
}

.title-skel-div-public {
  width: 100px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}

.toolbar-sekl-div {
  width: 10px;
  height: 15px;
  background: #282828;
  border-radius: 5px;
}

.blue-skel-div {
  width: 75px;
  height: 15px;
  background: #4183c4;
  border-radius: 25px;
}

.grey-skel-div {
  width: 80px;
  height: 15px;
  background: #eee;
  border-radius: 25px;
}

.black-skel-div {
  width: 80px;
  height: 15px;
  background: #000;
  border-radius: 25px;
}

.button-grey-skel-div {
  width: 80px;
  height: 30px;
  background: #eee;
  border-radius: 5px;
}

.float-right {
  float: right;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.search-box {
  float: right;
  margin-right: 5px;
  width: 300px;
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,.2);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.6);
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.25);
}
/* Margin */

.margin-top-10 {
  margin-top: 10px!important;
}

.margin-top-20 {
  margin-top: 20px!important;
}

.margin-top-25 {
    margin-top: 25px!important;
}

.margin-top-45 {
    margin-top: 45px!important;
}

.margin-top-65 {
    margin-top: 65px!important;
}

.margin-top-85 {
    margin-top: 85px!important;
}

.margin-top-100 {
    margin-top: 100px!important;
}

/* End Margin */

/* Padding */

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

/* Text */

.center {
    text-align: center;
}

/* End Text */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Muli:200');

/* Apply to all */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif!important;
}

p {
  font-size: 1.15rem;
}

h1 {
  font-size: 3rem!important;
}

h3 {
  font-size: 1.5rem!important;
}

h1, h2, h3, h4, button {
  font-family: 'Muli', sans-serif!important;
  font-weight: 300!important;
}

h5, h6 {
  font-family: 'Muli', sans-serif!important;
  text-transform: uppercase;
}

blockquote {
  border-left: 3px solid #756f6f;
  margin-left: 20px!important;
  padding-left: 8px!important;
  font-size: 18px;
  color: #756f6f;
}

blockquote:first-child {
  padding-left: 10px!important;
}

code {
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}

.align_left {
  text-align: left!important;
  margin: 0 0 1em!important;
  line-height: 1.4285em!important;
  font-size: 1.25rem!important;
}

.align_center {
  text-align: center!important;
  margin: 0 0 1em!important;
  line-height: 1.4285em!important;
  font-size: 1.25rem!important;
}

.align_right {
  text-align: right!important;
  margin: 0 0 1em!important;
  line-height: 1.4285em!important;
  font-size: 1.25rem!important;
}

.align_justify {
  text-align: justify!important;
  margin: 0 0 1em!important;
  line-height: 1.4285em!important;
  font-size: 1.25rem!important;
}

.hide {
  display: none;
}

.loading-indicator {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #eee;
  border-radius: 400px;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  animation: rotate 1s infinite linear;
  transition: all .25s ease-in-out;
  &:before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #eee;
    left: 6%;
    top: 1%;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Header */

.header-menu .item {
  color: #fff!important;
  padding: 0!important;
}

.app-switcher i {
  font-size: 1.5em!important;
}

.app-switcher .menu div a {
  color: #282828!important;
}

.app-switcher .menu, .actions .menu {
  left: -100px!important;
}


/* Trial */

.pricing-card {
  max-width: 90%!important;
  margin: auto!important;
  margin-top: 40px!important;
  padding: 15px!important;
}

.feature-list li {
  margin-top: 5px;
}

.trial-image {
  max-width: 70%!important;
  margin: auto!important;
  margin-top: 40px!important;
}

/* App Page */

.appPageCard {
  background: #eee!important;
  border-radius: 0!important;
  border: none!important;
  padding: 10px!important;
}

.appPageIcon {
  float: right;
  font-size: 30px!important;
}

/* Doc Page */

.contact-search:hover {
  cursor: pointer;
}

.teamButton:hover {
  cursor: pointer;
}

/* Single Doc */

.doc-dropzone {
  background: none;
}

.wordcounter {
  color: grey;
}

.avatar-ul {
  list-style-type: none;
  padding: 0;
}

.avatar-li {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  float: right;
  margin-left: -26px;
}

.hidden-span {
  display: none;
}

.avatar-li:hover {
  margin-left: -10px;
}

#ava-length {
  height: 35px!important;
  width: 35px!important;
  background: #eee!important;
  color: #282828!important;
  border-radius: 50%!important;
  text-align:center!important;
  padding-top: 10px!important;
}


.avatar-li:hover .hidden-span {z-index: 999; display: block; position:fixed; top: 80px; padding-left: 5px; padding-right: 5px; background: #282828; color: #fff; border: 1px solid #282828; border-radius: 2px;}


@media screen and (max-width: 760px) {
  .avatar-ul {
    display: none;
  }
}


#ava-length:hover ~ #ava-modal {
  display: block;
}

#ava-modal {
  display: none;
  background: #fff;
  z-index: 1000;
  position: fixed;
  width: 250px;
  top: 80px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  float: right;
  right: 10px;
}



.cm-e-menu {
  background-color: #000;
  position: fixed;
  top: 55px;
  z-index: 1000;
  color: #fff;
  font-weight: 200;
  width: 100%;
  margin-top: 15px;
}
.cm-e-menu ul {
	margin: 0; padding: 0;
}
.cm-e-menu li {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	text-transform: capitalize !important;
	list-style: none;

	-webkit-transition: background-color ease-in 300ms;
	-moz-transition: background-color ease-in 300ms;
	-ms-transition: background-color ease-in 300ms;
	-o-transition: background-color ease-in 300ms;
	transition: background-color ease-in 300ms;
}

.cm-e-menu .submenu li:hover {
	background-color: #eee;
}
.cm-e-menu ul li.topmenu {
	display: inline-table;
	padding: .3em 1em;
}
.cm-e-menu .topmenu ul {
	display:none;
	position: absolute;
	background-color: #fff;
}

.topmenu a {
  color: #fff!important;
}

.submenu li a, .submenu li .link-button {
  color: #000!important;
}
.cm-e-menu li:hover > ul {
	display: table;
}
.cm-e-menu ul.submenu {
	top: 100%; left: 0;
	padding-top: .5em;
	padding-bottom: .5em;
}
.cm-e-menu ul.submenu .submenu {
	top: -.5em; left: 100%;
	font-size: 1em
}
.cm-e-menu ul.submenu li {
	padding: .2em 1.5em;
	font-size: .9rem;
}

.submenu {
  border: 1px solid #eee;
}

.cm-e-menu li.divider-menu:hover {
	cursor: default;
  background: #fff;
}


.stealthylogo {
  height: 30px;
}

.item-menu {
  z-index: 980!important;
}

.item-menu .item {
  color: #fff!important;
  padding: 10px!important;
  font-family: 'Muli', sans-serif;
  padding-bottom: 18px!important;
}

.item-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
}

.markdown-editor {
  min-height: 200px!important;
}

.markdown-editor__preview-container {
  display: none!important;
}

.markdown-editor__textarea, .markdown-editor__preview, .markdown-editor__textarea:focus, .markdown-editor__preview:focus, .markdown-editor__textarea:active, .markdown-editor__preview:active {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.markdown-editor__editor-container, .markdown-editor__preview-container {
  max-width: 90%!important;
}

div.markdown-editor__editor-container h2 {
  display: none;
}

#md-help-button {
  position: fixed;
  bottom: 25px;
  float: left;
  left: 15px;
}

.ui.table thead {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.ui.table tr td {
  border-top: 1px solid rgba(34,36,38,.1)!important;
}

.ui.table td {
  padding: .78571429em .78571429em!important;
  text-align: inherit!important;
}

.ui.table td, .ui.table th {
  -webkit-transition: background .1s ease,color .1s ease!important;
  -o-transition: background .1s ease,color .1s ease!important;
  transition: background .1s ease,color .1s ease!important;
}

.editor table thead tr td, .editor table tbody tr td {
  border-right: 1px solid rgba(34,36,38,.1)!important;
}



/* Slate Toolbar */

.slate-toolbar {
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 980;
}

.slate-toolbar-vertical {
  position: fixed;
  top: 100px;
}

.slate-toolbar-vertical div {
  width: 40px!important;
}

.slate-toolbar-vertical div div {
  margin-bottom: 8px!important;
}

.link-modal div {
  width: 85%!important;
}

.colorPicker {
  position: fixed;
  top: 140px;
  left: 40%;
}

.colorPickerHighlight {
  position: fixed;
  top: 140px;
  left: 50%;
}

.emoji-mart-preview {
  display: none!important;
}

.emojiPicker {
  position: fixed;
  top: 140px;
  left: 50%;
}

/* Images */
.img-center {
  max-width: 80%;
  margin: auto;
  height: 300px;
}

/* Colors */

.color_4d4d4d {
  color: #4D4D4D!important;
}

.color_999999 {
  color: #999999!important;
}

.color_ffffff {
  color: #fff!important;
}

.color_f44e3b {
  color: #F44E3B!important;
}

.color_fe9200 {
  color: #FE9200!important;
}

.color_fcdc00 {
  color: #FCDC00!important;
}

.color_dbdf00 {
  color: #DBDF00!important;
}

.color_a4dd00 {
  color: #A4DD00!important;
}

.color_68ccca {
  color: #68CCCA!important;
}

.color_73d8ff {
  color: #73D8FF!important;
}

.color_aea1ff {
  color: #AEA1FF!important;
}

.color_fda1ff {
  color: #FDA1FF!important;
}

.color_333333 {
  color: #333333!important;
}

.color_808080 {
  color: #808080!important;
}

.color_cccccc {
  color: #CCCCCC!important;
}

.color_d33115 {
  color: #D33115!important;
}

.color_e27300 {
  color: #E27300!important;
}

.color_fcc400 {
  color: #FCC400!important;
}

.color_b0bc00 {
  color: #B0BC00!important;
}

.color_68bc00 {
  color: #68BC00!important;
}

.color_16a5a5 {
  color: #16A5A5!important;
}

.color_009ce0 {
  color: #009CE0!important;
}

.color_7b64ff {
  color: #7B64FF!important;
}

.color_fa28ff {
  color: #FA28FF!important;
}

.color_000000 {
  color: #000000!important;
}

.color_666666 {
  color: #666666!important;
}

.color_b3b3b3 {
  color: #B3B3B3!important;
}

.color_9f0500 {
  color: #9F0500!important;
}

.color_c45100 {
  color: #C45100!important;
}

.color_fb9e00 {
  color: #FB9E00!important;
}

.color_808900 {
  color: #808900!important;
}

.color_194d33 {
  color: #194D33!important;
}

.color_0c797d {
  color: #0C797D!important;
}

.color_0062b1 {
  color: #0062B1!important;
}

.color_653294 {
  color: #653294!important;
}

.color_ab149e {
  color: #AB149E!important;
}

/* Background */

.background_4d4d4d {
  background: #4D4D4D!important;
}

.background_999999 {
  background: #999999!important;
}

.background_ffffff {
  background: #fff!important;
}

.background_f44e3b {
  background: #F44E3B!important;
}

.background_fe9200 {
  background: #FE9200!important;
}

.background_fcdc00 {
  background: #FCDC00!important;
}

.background_dbdf00 {
  background: #DBDF00!important;
}

.background_a4dd00 {
  background: #A4DD00!important;
}

.background_68ccca {
  background: #68CCCA!important;
}

.background_73d8ff {
  background: #73D8FF!important;
}

.background_aea1ff {
  background: #AEA1FF!important;
}

.background_fda1ff {
  background: #FDA1FF!important;
}

.background_333333 {
  background: #333333!important;
}

.background_808080 {
  background: #808080!important;
}

.background_cccccc {
  background: #CCCCCC!important;
}

.background_d33115 {
  background: #D33115!important;
}

.background_e27300 {
  background: #E27300!important;
}

.background_fcc400 {
  background: #FCC400!important;
}

.background_b0bc00 {
  background: #B0BC00!important;
}

.background_68bc00 {
  background: #68BC00!important;
}

.background_16a5a5 {
  background: #16A5A5!important;
}

.background_009ce0 {
  background: #009CE0!important;
}

.background_7b64ff {
  background: #7B64FF!important;
}

.background_fa28ff {
  background: #FA28FF!important;
}

.background_000000 {
  background: #000000!important;
}

.background_666666 {
  background: #666666!important;
}

.background_b3b3b3 {
  background: #B3B3B3!important;
}

.background_9f0500 {
  background: #9F0500!important;
}

.background_c45100 {
  background: #C45100!important;
}

.background_fb9e00 {
  background: #FB9E00!important;
}

.background_808900 {
  background: #808900!important;
}

.background_194d33 {
  background: #194D33!important;
}

.background_0c797d {
  background: #0C797D!important;
}

.background_0062b1 {
  background: #0062B1!important;
}

.background_653294 {
  background: #653294!important;
}

.background_ab149e {
  background: #AB149E!important;
}

.code-block {
  background: #eee;
  border-radius: 3px;
  padding: 5px;
  font-family: monospace;
}

/* Quill Editor */

.ql-editor {
  max-width: 75%;
  margin: auto;
  margin-top: 215px;
  line-height: 1;
}

.md-editor {
  margin-top: 135px;
}

.authorship {
  position: fixed;
  bottom:10px;
  left:0px;
  z-index: 999;
  width: 30%;
  background: #282828!important;
  padding: 8px;
}

.checkmarkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 3px;
}

.checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmarkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmarkContainer input:checked ~ .checkmark {
  background-color: #2196F3;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmarkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tweet {
  max-width: 70%;
  margin: auto;
}

.EmbeddedTweet {
  margin: auto!important;
}

.twitter-tweet {
  margin: auto!important;
}

.video-center {
  text-align: center;
}


/* @media screen and (max-width: 675px) {
  .ql-editor {
    padding-left: 50px;
    padding-right: 0;
    margin-right: 0!important;
  }
} */

@media screen and (max-width: 800px) {
  .ql-editor {
    max-width: 85%;
    margin: auto;
    margin-top: 215px;
  }
}

@media screen and (max-width: 600px) {
  .ql-editor {
    max-width: 90%;
    margin: auto;
    margin-top: 215px;
  }

  .authorship {
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  .ql-editor {
    max-width: 95%;
    margin: auto;
    margin-top: 215px;
  }
}

@media screen and (max-width: 350px) {
  .ql-editor {
    max-width: 95%;
    margin: auto;
    margin-top: 215px;
  }
}

/* Print Layout */

@media print {
  body {
    margin-bottom: 25mm;
    background: #fff
  }
  a:after {
    content: none;
  }

  .docs {
    margin-top: 0;
    width: 100%;
  }

  .card-stacked a {
    margin-top: 25px;
  }

  .cm-e-menu {
    display: none;
  }

  .ql-editor {
    width: 90%;
    margin: auto;
    margin-top: 60px;
  }

  .doc-card, .doc-margin {
    padding: 0;
  }
  .btn, nav {
    display: none;
  }
  .container {
    width: 95%;
  }
  .print-view {
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 200%;
  }
  .card {
    border: none;
    box-shadow: none;
  }
  textarea {
    border: none;
  }

  .print-content {
    /* font-size: 16px!important;
    line-height: 200% */
  }

  .note-toolbar {
    display: none;
  }

  .print-title {
    font-size: 20px!important;
    border: none!important;
  }

  .item-menu {
    display: none!important;
  }

  .wordcount {
    display: none;
  }

  .slate-toolbar {
    display: none;
  }

  @page {
  margin: 2cm;
  size: auto;
  }
}

/* Sheets */

#movableChart {
  position: absolute;
  top:40%;
  left:40%;
  z-index: 975;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.bold {
  font-weight: bold!important;
}

.italic {
  font-style: italic!important;
}

.colorPickerSheets {
  position: fixed;
  z-index: 999;
  top: 120px;
  left: 20%;
}

.colorPickerChart {
  position: fixed;
  z-index: 999;
  top: 200px;
  left: 5%;
}

.sheetsMenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999!important;
}

.sheetsMenu .item {
  color: #fff!important;
}

.spreadsheet {
  position: relative;
  top: 135px!important
}

/* Vault */

.file-processing {
  text-align: center;
  padding: 30px;
}

.file-processing img {
  max-width: 80%;
  margin: auto;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.html-card {
  background: #fff;
  border-radius: 2px;
  max-width: 85%;
  min-height: 85vh;
  margin: auto;
  padding: 10px;
}

.html-card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.html-card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.material-icons {
  color: #fff!important;
}

.ui.items>.contacts-items {
  display: block!important;
}

/* Contacts Page  */

#mapid {
  height: 600px;
}

@media screen and (max-width: 900px) {
  .col-25-left {
    float: none;
    width: 85%;
    margin: auto;
  }

  .col-75-right {
    float: none;
    width: 85%;
    margin: auto;
  }
}

.contact-avatar{
  max-width: 65%!important;
  border-radius: 500rem;
  margin: auto!important;
}

.contact-card div {
  margin: 10px;
  width: auto!important;
}

.contact-details .line, .contact-details-pro .line {
  max-width: 85%;
  margin: auto;
  margin-bottom: 15px!important;
}

.contact-details .line span, .contact-details-pro .line span {
  width: 25%;
  height: 20px!important;
}

.contact-details .line div {
  width: 85%;
  height: 20px!important;
}

.contact-details, .contact-details-pro {
  padding: 10px;
}

.contact-details-pro .line div {
  width: auto;
  height: 25px;
  margin-left: 10px;
}

.contact-card {
  padding: 10px;
}

.label-item {
  float: left!important;
  font-weight: 600!important;
}

/* Account Settings */

.welcome-walk {
  margin-top: 10%!important;
}

@media only screen and (max-width: 950px) {
  .welcome-walk {
    margin-top: 20%!important;
  }
}

@media only screen and (max-width: 750px) {
  .welcome-walk {
    margin-top: 30%!important;
  }
}

.settings-side {
  background: #eee;
  position: fixed;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 30px;
}

.form-side {
  background: #eee;
  position: fixed;
  left: 0;
  top: 90px;
  width: 22%;
  height: 100%;
  padding: 30px;
}

.form-main-container {
  width: 70%;
  position: relative;
  left: 25%;
}

.form-card {
  width: 100%!important;
  padding: 15px!important;
}

.settings-main-container {
  width: 80%;
  position: relative;
  left: 20%;
}

.settings-side .ui.list .item {
  margin-top: 10px;
}

.table-container {
  max-width: 85%;
  margin: auto;
  margin-top: 20px;
}
